{{- $cur := .cur -}}
{{- $book := .book -}}
{{- $isBlogPost := and (eq $cur.Section "blog") (not $cur.IsSection) -}}
{{- $isBlogTagPage := and (eq $cur.Kind "term") (eq $cur.Data.Singular "tag") -}}
{{- $blogPosts := where .site.RegularPages "Section" "blog" -}}
<ul class="chapters blog-nav">
  <li class="node{{ if or $isBlogPost $cur.IsSection }} open{{ end }}">
    <a class="{{ if eq $book.RelPermalink $cur.RelPermalink }}active{{ end }}" href="{{ $book.RelPermalink }}#by-date">by date</a>
    {{- if or $isBlogPost $cur.IsSection }}
      <ul class="sections">
        {{- range sort $blogPosts "Date" "desc" -}}
          <li><a class="{{ if eq .RelPermalink $cur.RelPermalink }}active{{ end }}" href="{{ .RelPermalink }}">{{ .Date.Format "2006-01-02" }} {{ .Title }}</a></li>
        {{- end -}}
      </ul>
    {{- end }}
  </li>
  {{- range .site.Taxonomies.tags.Alphabetical -}}
    {{- $tagPosts := slice -}}
    {{- $tagSlug := .Name | urlize -}}
    {{- $tagOpen := false -}}
    {{- range .WeightedPages -}}
      {{- if eq .Page.Section "blog" -}}
        {{- $tagPosts = $tagPosts | append .Page -}}
      {{- end -}}
    {{- end -}}
    {{- if and $isBlogTagPage (eq $tagSlug ($cur.Data.Term | urlize)) -}}
      {{- $tagOpen = true -}}
    {{- end -}}
    {{- if gt (len $tagPosts) 0 -}}
      <li class="node{{ if $tagOpen }} open{{ end }}">
        <a class="{{ if $tagOpen }}active{{ end }}" href="{{ printf "/tags/%s/" $tagSlug | relURL }}">{{ .Name }}</a>
        {{- if $tagOpen }}
          <ul class="sections">
            {{- range sort $tagPosts "Date" "desc" -}}
              <li><a class="{{ if eq .RelPermalink $cur.RelPermalink }}active{{ end }}" href="{{ .RelPermalink }}">{{ .Date.Format "2006-01-02" }} {{ .Title }}</a></li>
            {{- end -}}
          </ul>
        {{- end }}
      </li>
    {{- end -}}
  {{- end -}}
</ul>
