:root {
    --INTERNAL-ACCENT-color: #dfa22c;
}

article.default>p {
    font-size: 1.2em;
}

article.default a {
    font-weight: bold;
}

h1 {
    text-transform: none;
}

h1, h2, h3, h4, h5, h6 {
    overflow-y: hidden;
}

div.box {
    background-color: #555
}

.env .box-label,
.edit .box-label {
    background-color: #0C7992 !important;
    border-color: #0C7992 !important;
    color: #000 !important;
    font-weight: bold !important;
}

.run .box-label.primary,
.notices.primary>.box-label,
.notices.info>.box-label {
    background-color: #0C2882 !important;
    border-style: none;
}
.notices.info>.box-content {}
.notices.tip>.box-label {
    background-color: #5d5 !important;
    color: #263c38;
    border-style: none;
}

.run .box-label.secondary,
.notices.secondary>.box-label {
    background-color: #dfa22c !important;
    color: #111;
}
.notices.secondary {
    border-color: #dfa22c !important;
}
.box.default .box-label,
.stdout .box-label {
    background-color: #bbb !important;
    color: #111 !important;
    border-style: none;
    border-color: unset;
}


div.box.run,
div.box.env,
div.box.edit,
div.box.stdout {
    border-left: 0.53em;
    border-bottom: 0.423em;
    border-right: 0.53em;
    border-top: 0.423em;
    border-style: ridge;
    border-color: #bbb;
}
.run .box-label.root,
.run .box-label.warning,
.notices.warning>.box-label {
    background-color: #593131 !important;
}

.info > .box-content {
    
}

.default > .box-label,
.stdout > .box-label {
    border: 0.25em #a6979a !important;
    border-bottom-style: ridge !important;
}

.edit > .box-label {
    border: 0.25em #196d45 !important;
    border-bottom-style: ridge !important;
}

.run > .box-label.primary,
.notices.info > .box-label {
    border: 0.25em #2a3f71 !important;
    border-bottom-style: ridge !important;
}

.run > .box-label.secondary {
    border: 0.25em #aca36e !important;
    border-bottom-style: ridge !important;
}

.env > .box-label {
    border: 0.25em #2b9191 !important;
    border-bottom-style: ridge !important;
    color: #fff !important;
}

.warning > .box-label {
    border: 0.25em #9d4453;
    border-bottom-style: ridge !important;
}
.tip > .box-label {
    border: 0.25em #25a669;
    border-bottom-style: solid !important;
}

.notices.credits>.box-label {
    background-color: #6C3082 !important;
}

.stdout .box-content,
.run .box-content,
.env .box-content,
.edit .box-content {
    padding: 0 !important;
}

.edit .box-label {
    background-color: #4f6 !important;
    border-style: none;
    border-color: unset;
}

.env .box-label {
    border-style: none;
    border-color: unset;
}


.run pre,
.edit pre,
.env pre {
    margin: 0 !important;
}

.run .box-content span,
.run .box-content code,
.edit .box-content span,
.edit .box-content code,
.env .box-content span,
.env .box-content code {
    display: block;
    border: none;
    padding: 0;
}

.run .box-content pre,
.edit .box-content pre,
.env .box-content pre {
    display: block;
    border: none;
    background-color: #111;
    color: #fff;
    border-color: #111 !important;
}

.run .copy-to-clipboard-button,
.edit .copy-to-clipboard-button,
.env .copy-to-clipboard-button {
    position: relative;
    scale: 2;
    float: right;
    right: 0;
    margin-right: 15px;
    margin-top: -28px;
    background: none;
}

.run:hover .copy-to-clipboard-button i,
.edit:hover .copy-to-clipboard-button i,
.env:hover .copy-to-clipboard-button i {
    display: initial;
}

.run .copy-to-clipboard-button i,
.edit .copy-to-clipboard-button i,
.env .copy-to-clipboard-button i {
    display: none;
    opacity: 0.5;
}

.run .copy-to-clipboard-button i:hover,
.edit .copy-to-clipboard-button i:hover,
.env .copy-to-clipboard-button i:hover {
    color: rgba(130, 229, 80, 1);
    opacity: 1;
}

.run .copy-to-clipboard-button i:active,
.edit .copy-to-clipboard-button i:active,
.env .copy-to-clipboard-button i:active {
    font-weight: 800;
}

.edit .box-content pre {
}

.env .box-content > span > code > pre {
    background-color: #0a2746 !important;
}


.anchor {
    scroll-margin: 20px;
}

div.index {
    padding: 1em;
    margin: 1em;
    line-height: 1.8em;
    font-weight: bold;
}

.badge {
    font-size: 1.5em;
}

.badge-content p {
    display: inline;
}

.box-label {
    font-weight: bold !important;
}

#R-header img.logo {
    width: 13vw;
}



mark {
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-weight: 400;
}

article.default aside {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 40%;
    font-style: italic;
    box-shadow: rgb(33, 78, 101) 5px 0px 5px -5px inset;
    margin-left: 60%;
    padding-left: 1.5rem;
}

blockquote {
    background-color: #ffffff12;
    border-inline-start: .6rem solid rgba(255, 34, 34, 0.4);
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    article.default aside {
        width: 80%;
        margin-left: 20%;
    }
}

@media print {
    .box-content pre {
        color: #000 !important;
    }
    .chapter {
        page-break-after: always;
    }
}
